/* Тренировка */

.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: teal;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: palevioletred;
}

/* .button > .icon {
  width: 20px;
  height: 20px;
  outline: 1px solid red;
  margin-right: 10px;
  background-image: url('../images/bcg-img.jpg');
  background-size: contain;
  background-repeat: no-repeat;
} */

.button::after {
  content: '';
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  background-image: url('../images/bcg-img.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}