:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --bcg-color: #2f303a;
  --primary-letter-spacing: 0.03em;
  --secondary-letter-spacing: 0.02em;
  --hero-letter-spacing: 0.06em;
}

body {
  color: var(--primary-text-color);
  background-color: #fff;

  font-size: 14px;
  font-family: Roboto, sans-serif;
  letter-spacing: var(--primary-letter-spacing);
}

.hero-tittle {
  margin-top: 0;
  margin-bottom: 30px;

  letter-spacing: var(--hero-letter-spacing);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.hero {
  padding: 200px 452px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bcg-img.jpg');

  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1600px;
}

.both-of-sections,
.section-third,
.section-fourth {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 215px;
  padding-left: 215px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.feature-list,
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feature-list {
  display: flex;
}

.feature-list .item {
  width: 270px;
}

/* .feature-list .item::before {
  display: block;
  content: '';
  margin-bottom: 30px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(245, 244, 250);
} */

/* Для inline svg */

/* .antenna-test {
  width: 70px;
  height: 70px;
  fill: red;
}

.antenna-test:hover {
  fill: teal;
  background-color: rebeccapurple;
} */

/* Прошлые файлы bcgi в feature-list */

/* .icon-antenna::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
} */

/* Тренировка со bcgi */

/* .contact-nav .contact-link.test::before {
  width: 16px;
  height: 12px;
  display: inline-flex;
  content: '';
  background-image: url('../images/envelope\ \(hover\).svg');
  background-repeat: no-repeat;
  margin-right: 10px;
  outline: 1px solid red;
}

.test {
  color: red;
}

.contact-nav .contact-link.puck::before {
  width: 10px;
  height: 16px;
  display: inline-flex;
  content: '';
  background-image: url('../images/smartphone.svg');
  margin-right: 10px;
  outline: 1px solid red;
} */

/* Добавляем иконки в контакты хедера и стилизируем их*/

.contact-nav .item {
  display: inline-flex;
  align-items: center;
}

/* Телефон */

.icon-smartphone {
  display: inline-flex;
  margin-right: 10px;
}

.icon-smartphone {
  fill: #757575;
}

.icon-smartphone:hover {
  fill: #2196f3;
}

.svg-smartphone {
  display: inline-flex;
  margin-right: 10px;
}

/* Конверт */

.icon-envelope {
  display: inline-flex;
  margin-right: 10px;
  fill: #757575;
}

.icon-envelope:hover {
  fill: #2196f3;
}

.svg-envelope {
  display: inline-flex;
  margin-right: 10px;
}

/* Добавляем иконки в feature-list и стилизируем их */

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  display: flex;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.wrap-image {
  margin-bottom: 20px;
}

.project-tittle {
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--hero-letter-spacing);
}

.project-text {
  margin-top: 0;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.feature-tittle {
  margin-top: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

/* Стилизируем иконки наших клиентов */



/* Задал контейнеру 1170, как по макету, а не 1200 */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.page-header {
  padding-right: 215px;
  padding-left: 215px;
  border: 1px solid #ececec;
}

.page-header.portfolio {
  margin-bottom: 94px;
}

.accent {
  color: #000000;
}

.footer .logo .accent {
  color: #ffffff;
}

.site-nav .nav-link {
  color: var(--primary-text-color);
}

.contact-nav .contact-link,
.feature-text,
.employee-text {
  color: var(--secondary-text-color);
}

.site-nav .nav-link,
.contact-nav .contact-link,
.footer-nav-address,
.footer-contact .contact-link {
  text-decoration: none;
}

.footer-contact {
  display: inline-block;
}

.feature-text,
.footer-contact.list {
  line-height: 1.71;
}

.feature-text {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contact.list {
  font-weight: 400;
}

address {
  font-style: normal;
}

.section-tittle {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.employee-img {
  margin-bottom: 30px;
}

.employee-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.section-first {
  margin-bottom: 94px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.employee-text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.site-nav .nav-link:hover,
.contact-nav .contact-link:hover,
.footer-contact .contact-link:hover,
.site-nav .nav-link:focus,
.contact-nav .contact-link:focus,
.footer-contact .contact-link:focus {
  color: var(--accent-color);
}

.main-container {
  display: flex;
  align-items: center;
}

.container-portfolio {
  margin-bottom: 94px;
}

/* Может объединть вверхний и нижний селекторы? */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav,
.contact-nav {
  letter-spacing: var(--secondary-letter-spacing);
  font-weight: 500;
  line-height: 1.14;
}

.hide {
  display: none;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* .site-nav .nav-link,
.contact-nav .contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    outline: 1px solid red;
}

.site-nav .item + .item,
.contact-nav .item + .item {
    margin-left: 40px;
} */

/* Ниже такие же варианты верхнего селектора */

/* .site-nav .item:last-child {
    margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
    margin-right: 50px;
} */

.site-nav .nav-link.current {
  color: var(--accent-color);
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: #ffffff;
  background-color: var(--accent-color);

  letter-spacing: var(--hero-letter-spacing);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;

  cursor: pointer;
  border: none;
}

.secondary-button {
  display: block;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: #f5f4fa;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);

  cursor: pointer;
  border: none;
}

.currently-active {
  color: #ffffff;
  background-color: #2196f3;
}

.secondary-button:hover,
.secondary-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.footer,
.hero {
  background-color: var(--bcg-color);
}

.footer-contact .contact-link {
  color: #ffffff99;
}

.footer-nav-address,
.hero-tittle {
  color: #ffffff;
}

.section-third {
  background-color: #f5f4fa;
}

/* 
мелкий текст #757575 
жирный текст #212121
цвет лого черный #000000
цвет лого синий #2196F3
цвет кнопки (accent) #2196F3;
цвет h1 #FFFFFF
цвет фона h1 и футера #2F303A
цвет фона сотрудников #F5F4FA
#FFFFFF99 60% для почты и телефона в футере
*/

/* Ниже селекторы для Портфолио */

.wrap-list {
  display: flex;
  flex-wrap: wrap;
}

.wrap-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  cursor: pointer;
}

.wrap-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.wrap-element:nth-child(3n) {
  margin-right: 0px;
}

.wrap-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.list-button .item + .item {
  margin-left: 8px;
}

h1 {
  margin: 0;
}

.feature-list .item {
  width: calc((100% - 90px) / 4);
}

.feature-list .item + .item,
.feature-list-employee + .feature-list-employee,
.feature-list-item + .feature-list-item,
.feature-list-clients + .feature-list-clients,
.contact-nav .item + .item {
  margin-left: 30px;
}

.feature-list-item {
  width: calc((100% - 60px) / 3);
}

.feature-list-employee {
  width: calc((100% - 90px) / 4);
  height: 428px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Добавляем иконки соц.сетей и стилизируем их */

.social-network-items {
  display: flex;
  width: 206px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
}

.social-network-items a + a {
  margin-left: 10px;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Инстаграм */

.svg-inst,
.svg-twitter,
.svg-facebook,
.svg-linkedin {
  fill: #afb1b8;
}

.svg-inst:hover,
.svg-twitter:hover,
.svg-facebook:hover,
.svg-linkedin:hover {
  fill: #2196f3;
}

/* Стилизируем иконки наших клиентов */

.svg-client1,
.svg-client2,
.svg-client3,
.svg-client4,
.svg-client5,
.svg-client6 {
  fill: #afb1b8;
}

.svg-client1:hover,
.svg-client2:hover,
.svg-client3:hover,
.svg-client4:hover,
.svg-client5:hover,
.svg-client6:hover {
  fill: #2196f3;
}



.feature-list-clients {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc((100%-150px) / 6);
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  cursor: pointer;
}

.feature-list-clients:hover {
  color: #2196f3;
}

/* Добавляем иконки в футере */

.feature-tittle {
  margin-bottom: 20px;
}

.second-footer-flex-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  width: 206px; 
  margin-left: 70px;
}

.footer-network-items {
  display: flex;
}

.second-footer-flex-container ul {
  margin: 0;
  padding: 0;
}

.second-footer-flex-container .feature-tittle {
  color: #FFFFFF;
}

.footer-network-items li + li {
  margin-left: 10px;
}

.first-footer-flex-container {
  display: inline-flex;
}

.logo-contact-container .logo {
  display: flex;
  margin-bottom: 20px;
}

.logo-contact-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

